@import './_normalize'

* 
*:before 
*:after
  box-sizing border-box

body 
  background-color #010001
  padding-top 50px
  font-family 'Roboto', sans-serif;

.header
  max-width 1230px
  width 90%
  margin auto 
  display flex
  align-items center
  justify-content space-between
  a
    text-decoration none

.list 
  display flex
  align-items center
  justify-content space-between  
  margin 0
  padding 0
  list-style none
  &__item
    margin-right 20px
    &:last-child
      margin-right 0     
    &-link
      color #ffffff
      font-size 12px
      font-weight 400
      display block
